# SERVER configuration
PORT=3000
# NOTE: uncomment/comment NODE_ENV depending if its development(LOCAL) or production(DEPLOYED)
# ============== DEV(local) ==============
NODE_ENV=development
# ============== PROD(deployed) ==============
# NODE_ENV=production
SESSION_SECRET=your_session_secret_here


# NOTE: DATABASE_URL is supabase-specific. if moving to a self-hosted
# VPS (fully dockerized postgres), switch production back to using
# DB_HOST/DB_PORT/DB_NAME/DB_USER/DB_PASSWORD instead.

# DATABASE configuration
# ============== DEV(local) ==============
DB_HOST=localhost
DB_PORT=5432
DB_NAME=detailing_booking_db
DB_USER=postgres
DB_PASSWORD=your_local_db_password

# DATABASE FOR PRODUCTION(deployed)
# ============== PROD(deployed) ==============
# DATABASE_URL=your_hosted_database_url
# SUPABASE_DATABASE_PASS=your_supabase_db_password


# XENDIT credentials
XENDIT_SECRET_KEY=your_xendit_secret_key
XENDIT_PUBLIC_KEY=your_xendit_public_key

# XENDIT redirect back to site and webhooks the update
# NOTE: URL should always be appended the routes for web hook, append this: api/booking/webhook
# EXAMPLE: https://carita-solar-darci.ngrok-free.dev/api/booking/webhook
# for local testing ngrok (DEVELOPMENT)
# ============== DEV(local) ==============
APP_URL=http://localhost:3000
# ============== PROD(deployed) ==============
# APP_URL=https://your-production-url.onrender.com


# EMAIL
BREVO_API_KEY=your_brevo_api_key


# UPLOADED IMAGES via cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# REDIS via upstash
# command to reset the ban for demo:
# FLUSHDB
UPSTASH_REDIS_URL=your_upstash_redis_url
UPSTASH_REDIS_TOKEN=your_upstash_redis_token